<div class="black">
  <h1>
    {{name}}
  </h1>
  </div>
  <!-- <div class="datos">
  <p>
    {{direccion}}
  </p>
  <p>
    {{telefono}}
  </p>
</div> -->
  <button (click)="togglenuestrosvinos() "class="btn">
       Nuestros Vinos
  </button>
    <div *ngIf="mostrarnuestrosvinos" class="body1">
  <!-- <h3>Nuestros Vinos:</h3> -->
  <ul>
    <li *ngFor="let vino of nuestrosvinos">
      {{vino}}
    </li>
  </ul>
 </div>
 <div class="footer">
  <div class="datos">
    <p>
      {{direccion}}
    </p>
    <p>
      {{telefono}}
    </p>
  </div>

 </div>